:root {
  --color-1: #F7E3D4;
  --color-2: #FD7208;
  --color-3: #2369B8;
  --color-4: #1461B8;
  --color-5: #091D34;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin: 0;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; 
}

/*header*/
h1 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  font-size: 1.125rem;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
header {
  padding: 0 0.625rem;
  width: 33%;
  margin: 1.25rem auto 1.25rem auto;
  color: var(--color-5);
}

/*input-div*/
#input-div {
  background: var(--color-3);
  padding: 2.5rem;
  border-radius: 0.25rem;
  width: 33%;
  margin: auto;
  border: 1px solid black;
}

.input-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

label {
  display: flex;
  font-size: 1.125rem;
  margin: 0.5rem auto -1rem auto;
  color: white;
}

.input-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 0.25rem;
}

#submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-5);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

/*table*/

#myTable {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  border-collapse: collapse;
  width: 33%; 
}

#myTable th, #myTable td { 
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  color: black;
}

#myTable td {
  background-color: white;
}

#myTable th {
  background-color: var(--color-3);
  color: white;
}

.close {
  background-color: white;
  margin: 0.5rem auto 0.5rem auto;
  cursor: pointer;
}

.close:hover {
  background-color: var(--color-2);
}
